.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #7f5cff, #d66efd, #5ecad4);
  overflow: hidden;
}

.card {
  width: 330px;
  height:80%;
  background: #fff;
  padding: 40px 30px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.card h2 {
  text-align: center;
  margin-bottom: 32px;
}

.field {
  margin-bottom: 24px;
}

.field label {
  font-size: 14px;
  color: #333;
  display: block;
}

.inputRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cfcfcf;
  padding: 6px 0;
}

.inputRow i {
  font-size: 15px;
  color: #9a9a9a;
  margin-right: 12px;
  width: 18px;
}

.inputRow input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}

.btn {
  width: 100%;
  margin-top: 10px;
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to right, #56cfe1, #9b5de5, #f15bb5);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.footer {
  text-align: center;
  margin-top: 26px;
  font-size: 13px;
}

.footer span {
  color: #6c63ff;
  font-weight: 600;
  cursor: pointer;
}

.message {
  margin: 10px 0;
  font-size: 13px;
  color: #e63946;
  text-align: center;
}
